body {
	/* max-width: 900px; */
	margin: 0px auto;
	display: flex;
	min-height: 100vh;	
	min-width: 100vw;
	box-sizing: border-box;
	background: url("../images/background1.jpg");
	background-position: center;
	background-size: cover;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 0.5vw;
}


.setup {
	display: none;
}

}

.myColumn {
	width: 25%;
}
.panel-heading {
	font-size: 2.5vw;
	max-width: 95vw;
	opacity: 0.9;
}

.searchResults, .masterSearch {
	display: block;
	background: #f3f2f1;
	color: white;
	opacity: 0.9;
	border-radius: 10px;
}
.searchResults {
	display: none;
}
.masterSearch {
	display: block;
}

.btn {
	margin: 0.5vw;
	width: 23%;

}
p {
	background: #f3f2f1;
    opacity: 0.8;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3vw;
    font-weight: 600;
    font-size: 1.4vw;
    border-radius: 10px;
    line-height: 5vh;
    
}

.post-content {
    /*background: none;
    /*opacity: 0.8;*/*/
    margin: 0 auto;
    text-align:center;
    position: relative;
    top: -7vw;
    width:95%;   
}

h4 > a {
	background: #486aab;
	opacity: 0.9;
	padding: 5px;
	font-size: 20px;
}
a:focus, a:hover {
	text-decoration: none;
}
/* .thumbnail {
    margin:0 auto;
    text-align:center;
} */

.wrapper {
    text-align:center;
}
div.thumbnail {
	margin: auto;
	max-height: 23vw;
	max-width: 29vw;
	background: none;
	border: none;
	overflow: hidden;
	border-radius: 10px;
}
img {
	margin: auto;
	max-height: 23vw;
	max-width: 29vw;
	overflow: hidden;
	opacity: 1.0;
	border-radius: 10px;
	
}

.fridgeList {
	padding: 2vw;
	opacity: 0.9;
}
.fridgePanel {
	background: #f3f2f1;
	opacity: 0.9;
	border-radius: 10px;
}
.jumbotron {
	background: #f3f2f1;
	opacity: 0.9;
	margin: 0;
	max-width: 100%;
	border-radius: 10px;
	font-family: 'Skranji', cursive;
	letter-spacing: 0.7vw;
	/*font-size: 60px;*/
	line-height: 50vh;
	font-size: 25vw;
}

.title {
	color: #1c392c;
	font-family: 'Skranji', cursive;
	letter-spacing: 0.1vw;
	/*font-size: 60px;*/
	line-height: 2.9vh;
	font-size: 1.4vw;
	font-family: 'Catamaran', sans-serif;
}
#switch {
	ont-size: 1.4vw;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 0.1vw;
	border-radius: 10px;
}
