body {
	/* max-width: 900px; */
	margin: 0px auto;
	display: flex;
	min-height: 100vh;	
	box-sizing: border-box;
}


.setup {
	display: inline;
}

.myColumn {
	width: 25%;
}

.masterSearch {
	display: inline;
}

.btn {
	margin: 5px;
	width:23%;

}
.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center
    position: relative;
    width:40%;

    
}

.thumbnail {
    margin:0 auto;
    text-align:center;
}

.wrapper {
    text-align:center;
}